extends mail

block header
    tr
        td(style="background:#337ab7; text-align:center", bgcolor="#337ab7", align="center", valign="middle")
            a(href="#{frontend_url}?utm_source=email&utm_campaign=welcome&utm_midium=email", title="visitar o site")
                img(src="#{frontend_imgs}header_welcome.png", alt="Obrigado por se cadastrar!", style="border:0; display:block; margin:0; max-width:600px", width="100%", border="0")
block content
    tr
        td(bgcolor="#fff", style="background:#fff; border-left:1px solid #d3e0e9; border-right:1px solid #d3e0e9; padding:5% 9% 20px 9%; text-align:left;", class="xpgoo_cell_bordered")
            h1(style="font-size: 18px; font-weight:700; color:#333;") Seja bem-vindo(a)!
            p(style="color: #777; margin: 14px 0 0 0; line-height:26px;")
                | Estamos felizes em ter você conosco!
                br
                | Você acaba de vencer mais uma etapa em seu controle financeiro!
                br
                | Que tal dar mais um passo e começar a registrar suas despesas?
    tr
        td(bgcolor="#fff", class="xpgoo_cell_bordered", height="150", style="background:#fff; border-left:1px solid #d3e0e9; border-right:1px solid #d3e0e9; padding:0px 9%; text-align:left;")
            p(style="text-align: center; color: #777;")
                a(href="#{frontend_url}?utm_source=email&utm_campaign=welcome&utm_midium=email", title="Quero montar meu currículo agora", style="display:block;") 
                    img(src="#{frontend_imgs}cta_welcome.png", border="0", alt="botão montar currículo", style="display:block; border:0; margin: 0 auto;", class="xpgoo_cta")
                br
                | #[i Calma, é totalmente grátis!]
    tr
        td(bgcolor="#fff", class="xpgoo_cell_bordered", height="150", style="height: 150px; background:#fff; border-left:1px solid #d3e0e9; border-right:1px solid #d3e0e9; padding:0px 9%; text-align:left;")
            p(style="text-align: center; color: #777; margin: 0 auto; max-width: 450px; line-height:150%;")
                | Seus dados serão armazenados para uso exclusivo 
                | para gerar relatórios de suas despesas no seu dashboard.